@page
@model IndexModel
@{
    ViewData["Title"] = "Record test";
}

<div class="text-center">
    <h1 class="display-4">Record test</h1>
    <p>This is a test project for C#9 features including records on a Razor Pages web project</p>
    <ul>
        <li>Connecting to a db</li>
        <li>Serilog</li>
        <li>VS Code</li>
    </ul>
    
</div>
